
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


  *{
    margin: 0;
    top: 0;
    text-transform: capitalize;
    list-style: none;
    font-family: 'EB Garamond', serif;
  }